/* reset css start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #666666;
    font-size: 0.9375rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
    position: relative;
    line-height: 1.7;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow-x: hidden;
    counter-reset: section;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid #f2f2f2;
}

@-webkit-keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

select {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

*:focus {
    outline: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

span {
    display: inline-block;
}

a:hover {
    color: #ee4719;
}

hr {
    background-color: #dadce0;
    opacity: 0.65;
}

.page-scroll-bar {
    position: fixed;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    border: none;
    background: transparent;
    z-index: 99;
}

.page-scroll-bar::-webkit-progress-bar {
    background: transparent;
}

.page-scroll-bar::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #ee4719);
    background-attachment: fixed;
}

.page-scroll-bar::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #ee4719);
    background-attachment: fixed;
}

/* reset css end */
/* global css strat */
.text--primary {
    color: #7367f0 !important;
}

.text--secondary {
    color: #868e96 !important;
}

.text--success {
    color: #28c76f !important;
}

.text--danger {
    color: #ea5455 !important;
}

.text--warning {
    color: #ff9f43 !important;
}

.text--info {
    color: #1e9ff2 !important;
}

.text--dark {
    color: #082032 !important;
}

.text--muted {
    color: #a0a0a0 !important;
}

.text--base {
    color: #ee4719 !important;
}

.text--dark {
    color: #082032 !important;
}

.text--h {
    color: #082032 !important;
}

.text--p {
    color: #666666 !important;
}

/* background color css start */
.bg--primary {
    background-color: #7367f0 !important;
}

.bg--secondary {
    background-color: #868e96 !important;
}

.bg--success {
    background-color: #28c76f !important;
}

.bg--danger {
    background-color: #ea5455 !important;
}

.bg--warning {
    background-color: #ff9f43 !important;
}

.bg--info {
    background-color: #1e9ff2 !important;
}

.bg--dark {
    background-color: #082032 !important;
}

.bg--light {
    background-color: #bcc7da !important;
}

.bg--base {
    background-color: #ee4719 !important;
}

/* background color css end */
.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-attachment-fixed {
    background-attachment: fixed;
}

.section--bg {
    background-color: #F8F9FA !important;
}

.section--bg2 {
    background-color: #082032;
}

.top--border-base {
    border-top: 2px solid #ee4719;
}

.alert--dark {
    background-color: #505C66;
}

.info-message-alert .icon {
    width: 40px;
    font-size: 1.25rem;
}

.info-message-alert .content {
    width: calc(100% - 40px);
}

.slick-arrow {
    cursor: pointer;
}

.z-index-2 {
    z-index: 2;
}

.main-wrapper {
    position: relative;
}

.section-header {
    margin-bottom: 2.1875rem;
    margin-top: -8px;
}

@media (max-width: 767px) {
    .section-header {
        margin-bottom: 2.1875rem;
    }
}

@media (max-width: 575px) {
    .section-header {
        margin-bottom: 1.875rem;
    }
}

@media (max-width: 767px) {
    .section-header p {
        font-size: 0.9375rem;
    }
}

.section-title {
    font-size: 1.75rem;
    font-weight: 600;
}

@media (max-width: 767px) {
    .section-title {
        font-size: 1.75rem;
    }
}

@media (max-width: 420px) {
    .section-title {
        font-size: 1.5rem;
    }
}

.section-title.border--style {
    position: relative;
    display: inline-block;
}

.section-title.border--style::before {
    position: absolute;
    content: '';
    left: -150px;
    top: 50%;
    width: 130px;
    height: 2px;
    margin-top: -1px;
    background: #ee4719;
    background: -webkit-linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
    background: linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section-title.border--style::after {
    position: absolute;
    content: '';
    right: -150px;
    top: 50%;
    width: 130px;
    height: 2px;
    margin-top: -1px;
    background: #ee4719;
    background: -webkit-linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
    background: linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.section-subtitle.border-left {
    padding-left: 2.1875rem;
    position: relative;
    z-index: 1;
}

.section-subtitle.border-left::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #ee4719;
    margin-top: -1px;
}

a.text-white:hover {
    color: #ee4719 !important;
}

.text--link {
    text-decoration: underline;
}

.text--link:hover {
    text-decoration: underline;
}

.has--link {
    position: relative;
}

.has--link .item--link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.object-fit--cover {
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

/* back to top css start */
.progress-wrap {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(238, 71, 25, 0.2);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background: #fff;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    content: "\f30c";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    color: #ee4719;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: #ee4719;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* back to top css end */
.preloader {
    position: fixed;
    inset: 0;
    z-index: 9999999;
}

.preloader__circle {
    width: 75px;
    height: 75px;
}

.preloader__circle::after {
    content: '';
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-right: none;
    border-bottom: none;
    animation: spin 1.5s infinite linear;
}

.preloader__circle i {
    font-size: 2.125rem;
}

/* global css end */
.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-80 {
    padding-top: 80px;
}

@media (max-width: 767px) {
    .pt-80 {
        padding-top: 70px;
    }
}

@media (max-width: 575px) {
    .pt-80 {
        padding-top: 50px;
    }
}

.pb-80 {
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .pb-80 {
        padding-bottom: 70px;
    }
}

@media (max-width: 575px) {
    .pb-80 {
        padding-bottom: 50px;
    }
}

.pt-100 {
    padding-top: 100px;
}

@media (max-width: 991px) {
    .pt-100 {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .pt-100 {
        padding-top: 70px;
    }
}

@media (max-width: 575px) {
    .pt-100 {
        padding-top: 50px;
    }
}

.pb-100 {
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .pb-100 {
        padding-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .pb-100 {
        padding-bottom: 70px;
    }
}

@media (max-width: 575px) {
    .pb-100 {
        padding-bottom: 50px;
    }
}

.preloader__circle, .read-more-btn, .faq-single__header, .header, .footer, .footer-widget__title, .inner-hero {
    position: relative;
}

.preloader__circle::after, .read-more-btn::before, .faq-single__header::after, .footer-widget__title::after, .inner-hero::before {
    position: absolute;
}

.read-more-btn, .footer, .inner-hero {
    z-index: 1;
}

.read-more-btn::before, .inner-hero::before {
    z-index: -1;
}

body, .read-more-btn::before, .custom--checkbox label::before, .faq-single__header, .faq-single__header::after, .faq-single__title, .header .main-menu li.menu_has_children > a::before, .header .main-menu li .sub-menu, .header .main-menu li .sub-menu li a, .header__search-btn i::before, .header-account-btn, .inline-menu li a, .social-links li a {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

body::-webkit-scrollbar-thumb, .read-more-btn::before, .header-account-btn, .social-links li a:hover {
    background-color: #ee4719;
}

.preloader, .faq-single.active .faq-single__header, .header__bottom, .footer, .inner-hero::before {
    background-color: #082032;
}

.custom--card, .pagination .page-item .page-link, .header .main-menu li .sub-menu {
    background-color: #fff;
}

.btn--base {
    background: #ee4719;
    background: -webkit-linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
    background: linear-gradient(135deg, #ff690f 0%, #ee4719 100%);
}

.section-subtitle, .preloader__circle i, .read-more-btn, .header .site-logo.site-title, .header .main-menu li a.active, .header .main-menu li .sub-menu li a:hover, .inline-menu li a:hover, .footer-widget__menu li a:hover, .footer-widget__contact-list li .icon {
    color: #ee4719;
}

.alert--dark, [class*="btn--"]:not(.btn--link):not(.btn--light), .btn--dark, .btn--dark:hover, .btn--base, .btn--base:hover, .btn-outline--primary:hover, .btn-outline--secondary:hover, .btn-outline--success:hover, .btn-outline--danger:hover, .btn-outline--warning:hover, .btn-outline--info:hover, .btn-outline--light:hover, .btn-outline--dark:hover, .btn-outline--base:hover, .icon-btn, .icon-btn:hover, .faq-single.active .faq-single__title, .faq-single.active .faq-single__header::after, .header__search-btn, .language-select, .header-account-btn, .header-account-btn:hover {
    color: #fff;
}

.caption-list li .caption, [data-label]::before, .select, .language-select option {
    color: #082032;
}

.custom--nav-tabs .nav-item .nav-link {
    color: #666666;
}

.info-message-alert, .preloader, .btn--group, .btn-close, .social-links li a, .footer-widget__contact-list li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.preloader, .preloader__circle, .btn-close, .header-account-btn, .header-account-btn i, .social-links li a {
    justify-content: center;
}

.info-message-alert, .preloader, .preloader__circle, .btn--group, .btn-close, .header-account-btn, .header-account-btn i, .social-links li a, .footer-widget__contact-list li {
    align-items: center;
}

.preloader__circle, .header-account-btn, .header-account-btn i {
    display: inline-flex;
}

.footer {
    overflow: hidden;
}

.preloader__circle::after, .read-more-btn::before, .custom--nav-tabs .nav-item .nav-link, .inner-hero::before {
    width: 100%;
}

.preloader__circle::after, .inner-hero::before {
    height: 100%;
}

.form--control, .header .main-menu li .sub-menu, .header-account-btn {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.custom--card {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.preloader__circle, .preloader__circle::after, .header-account-btn i, .social-links li a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.check-list li + li {
    margin-top: 0.9375rem;
}

.check-list li {
    position: relative;
    padding-left: 2.1875rem;
}

.check-list li::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f058";
    font-size: 1.75rem;
    color: #ee4719;
    margin-right: 0.5rem;
    line-height: 1;
}

.number-list {
    list-style: decimal;
    padding-left: 1.125rem;
}

.number-list li + li {
    margin-top: 0.625rem;
}

.disc-list li + li {
    margin-top: 0.625rem;
}

.disc-list li {
    position: relative;
    padding-left: 0.9375rem;
}

.disc-list li::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 0.375rem;
    height: 0.375rem;
    margin-top: -0.1875rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #575757;
}

.caption-list li {
    display: flex;
    flex-wrap: wrap;
    padding: 0.625rem 0;
    font-size: 0.9375rem;
    border-bottom: 1px dashed #dadce0;
}

.caption-list li:first-child {
    padding-top: 0;
}

.caption-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.caption-list li .caption {
    width: 40%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
}

.caption-list li .caption::after {
    position: absolute;
    content: ':';
    top: 0;
    right: 0;
}

.caption-list li .value {
    width: 60%;
    padding-left: 0.9375rem;
}

.caption-list-two {
    padding: 0.625rem 0.9375rem;
    background-color: rgba(238, 71, 25, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.caption-list-two li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #082032;
    font-size: 0.875rem;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px dashed #bec2c9;
}

.caption-list-two li:first-child {
    padding-top: 0;
}

.caption-list-two li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.caption-list-two li .caption {
    width: 20%;
    position: relative;
    font-weight: 700;
    padding-right: 10px;
}

.caption-list-two li .caption::after {
    position: absolute;
    content: ':';
    top: 0;
    right: 0;
}

.caption-list-two li .value {
    width: 80%;
    padding-left: 20px;
}

.shake {
    animation: shake 0.5s 1 linear;
}

@-webkit-keyframes shake {
    0%,
  100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
  40%,
  60%,
  80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%,
  100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
  40%,
  60%,
  80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@-ms-keyframes shake {
    0%,
  100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
  40%,
  60%,
  80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
  100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
  40%,
  60%,
  80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-ms-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

h1 {
    font-size: 3.875rem;
}

h2 {
    font-size: 2rem;
}

@media (max-width: 991px) {
    h2 {
        font-size: 1.875rem;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.75rem;
}

@media (max-width: 1199px) {
    h3 {
        font-size: 1.625rem;
    }
}

@media (max-width: 767px) {
    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    h3 {
        font-size: 1.375rem;
    }
}

h4 {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    h4 {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 1.25rem;
}

@media (max-width: 767px) {
    h5 {
        font-size: 1.125rem;
    }
}

h6 {
    font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #082032;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
    word-break: break-word;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    font-family: "Poppins", sans-serif;
    color: #082032;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1.4;
    word-break: break-word;
}

p,
li,
span {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: 500;
}

.fs--18px {
    font-size: 1.125rem !important;
}

.fs--16px {
    font-size: 1rem !important;
}

.fs--15px {
    font-size: 0.9375rem !important;
}

.fs--14px {
    font-size: 0.875rem !important;
}

.fs--12px {
    font-size: 0.75rem !important;
}

.h--font {
    font-family: "Poppins", sans-serif !important;
}

.p--font {
    font-family: "Poppins", sans-serif !important;
}

.fw-medium {
    font-weight: 600 !important;
}

/* button css start */
button:focus {
    outline: none;
}

.btn {
    padding: 0.75rem 1.875rem;
    font-weight: 500;
}

.btn:focus {
    box-shadow: none;
}

.btn--primary {
    background-color: #7367f0;
}

.btn--primary:hover {
    background-color: #5e50ee;
}

.btn--secondary {
    background-color: #868e96;
}

.btn--secondary:hover {
    background-color: #78818a;
}

.btn--success {
    background-color: #28c76f;
}

.btn--success:hover {
    background-color: #24b263;
}

.btn--danger {
    background-color: #ea5455;
}

.btn--danger:hover {
    background-color: #e73d3e;
}

.btn--warning {
    background-color: #ff9f43;
}

.btn--warning:hover {
    background-color: #ff922a;
}

.btn--info {
    background-color: #1e9ff2;
}

.btn--info:hover {
    background-color: #0d93e9;
}

.btn--light {
    background-color: #bcc7da;
}

.btn--light:hover {
    background-color: #acb9d1;
}

.btn--dark {
    background-color: #082032;
}

.btn--dark:hover {
    background-color: #04121c;
}

.btn--link {
    color: #7367f0;
}

.btn--base:hover {
    background-color: #dd3d10;
}

.read-more-btn:hover::before {
    height: 100%;
}

.read-more-btn::before {
    content: '';
    bottom: 0;
    left: 0;
    height: 4px;
    opacity: 0.25;
}

.btn-outline--primary {
    color: #7367f0;
    border-color: #7367f0;
}

.btn-outline--primary:hover {
    background-color: #7367f0;
}

.btn-outline--secondary {
    color: #868e96;
    border-color: #868e96;
}

.btn-outline--secondary:hover {
    background-color: #868e96;
}

.btn-outline--success {
    color: #28c76f;
    border-color: #28c76f;
}

.btn-outline--success:hover {
    background-color: #28c76f;
}

.btn-outline--danger {
    color: #ea5455;
    border-color: #ea5455;
}

.btn-outline--danger:hover {
    background-color: #ea5455;
}

.btn-outline--warning {
    color: #ff9f43;
    border-color: #ff9f43;
}

.btn-outline--warning:hover {
    background-color: #ff9f43;
}

.btn-outline--info {
    color: #1e9ff2;
    border-color: #1e9ff2;
}

.btn-outline--info:hover {
    background-color: #1e9ff2;
}

.btn-outline--light {
    color: #bcc7da;
    border-color: #bcc7da;
}

.btn-outline--light:hover {
    background-color: #bcc7da;
}

.btn-outline--dark {
    color: #082032;
    border-color: #082032;
}

.btn-outline--dark:hover {
    background-color: #082032;
}

.btn-outline--base {
    color: #ee4719;
    border: 1px solid #ee4719;
}

.btn-outline--base:hover {
    background-color: #ee4719;
}

.btn-shadow--primary {
    box-shadow: 0 0 6px 1px rgba(115, 103, 240, 0.35);
}

.btn-shadow--secondary {
    box-shadow: 0 0 6px 1px rgba(134, 142, 150, 0.35);
}

.btn-shadow--success {
    box-shadow: 0 0 6px 1px rgba(40, 199, 111, 0.35);
}

.btn-shadow--danger {
    box-shadow: 0 0 6px 1px rgba(234, 84, 85, 0.35);
}

.btn-shadow--warning {
    box-shadow: 0 0 6px 1px rgba(255, 159, 67, 0.35);
}

.btn-shadow--info {
    box-shadow: 0 0 6px 1px rgba(30, 159, 242, 0.35);
}

.btn-shadow--light {
    box-shadow: 0 0 6px 1px rgba(188, 199, 218, 0.35);
}

.btn-shadow--dark {
    box-shadow: 0 0 6px 1px rgba(8, 32, 50, 0.35);
}

.btn-shadow--base {
    box-shadow: 0 0 6px 1px rgba(238, 71, 25, 0.35);
}

.btn--capsule {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.icon-btn {
    width: 1.875rem;
    height: 1.875rem;
    background-color: #ee4719;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn--group {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.btn--group.style--two {
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
}

.btn--group.style--two *[class*="btn"] {
    margin: 0.1875rem 0.3125rem;
}

*[class*="btn"] {
    margin: 0.3125rem 0.625rem;
    align-items: center;
}

*[class*="btn"].d-flex {
    padding: 0.5rem 2.1875rem;
}

[class*="btn"].btn-md {
    padding: 0.625rem 1.25rem;
    font-size: 0.9375rem;
}

[class*="btn"].btn-sm {
    padding: 0.375rem 0.625rem;
    font-size: 0.875rem;
}

/* button css end */
.badge--primary {
    background-color: rgba(115, 103, 240, 0.15);
    border: 1px solid #7367f0;
    color: #7367f0;
}

.badge--secondary {
    background-color: rgba(134, 142, 150, 0.15);
    border: 1px solid #868e96;
    color: #868e96;
}

.badge--success {
    background-color: rgba(40, 199, 111, 0.15);
    border: 1px solid #28c76f;
    color: #28c76f;
}

.badge--danger {
    background-color: rgba(234, 84, 85, 0.15);
    border: 1px solid #ea5455;
    color: #ea5455;
}

.badge--warning {
    background-color: rgba(255, 159, 67, 0.15);
    border: 1px solid #ff9f43;
    color: #ff9f43;
}

.badge--info {
    background-color: rgba(30, 159, 242, 0.15);
    border: 1px solid #1e9ff2;
    color: #1e9ff2;
}

.badge--light {
    background-color: rgba(188, 199, 218, 0.15);
    border: 1px solid #bcc7da;
    color: #bcc7da;
}

.badge--dark {
    background-color: rgba(8, 32, 50, 0.15);
    border: 1px solid #082032;
    color: #082032;
}

.badge--base {
    background-color: rgba(238, 71, 25, 0.15);
    border: 1px solid #ee4719;
    color: #ee4719;
}

/* table css start */
.custom--table thead {
    background-color: #f6f9fc;
}

.custom--table thead th {
    border-top: 1px solid #e9ecef !important;
    border-bottom: 1px solid #e9ecef !important;
    padding: 0.75rem 1.25rem;
    color: #7991ad;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    vertical-align: middle;
}

.custom--table thead th:first-child {
    text-align: left;
}

.custom--table thead th:last-child {
    text-align: right;
}

.custom--table tbody td {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 15px 20px;
    color: #666666;
    text-align: center;
    vertical-align: middle;
}

.custom--table tbody td:first-child {
    text-align: left;
}

.custom--table tbody td:last-child {
    text-align: right;
}

.custom--table tbody tr:last-child td {
    border-bottom: none;
}

[data-label] {
    position: relative;
}

[data-label]::before {
    position: absolute;
    content: attr(data-label);
    font-weight: 700;
    top: 0;
    left: 0;
    padding: 0.8125rem 0.9375rem;
    display: none;
    font-size: 0.875rem;
}

@media (max-width: 991px) {
    .table-responsive--md thead {
        display: none;
    }

    .table-responsive--md tbody tr:nth-child(odd) {
        background-color: whitesmoke;
    }

    .table-responsive--md tbody tr:last-child td {
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }

    .table-responsive--md tbody tr td {
        padding-right: 15px;
    }

    .table-responsive--md tbody tr td:last-child {
        padding-right: 15px;
    }

    .table-responsive--md tr th,
  .table-responsive--md tr td {
        display: block;
        padding-left: 45% !important;
        text-align: right !important;
    }

    .table-responsive--md tr th:first-child,
  .table-responsive--md tr td:first-child {
        border-top: none !important;
    }

    .table-responsive--md [data-label]::before {
        display: block;
    }
}

@media (max-width: 767px) {
    .table-responsive--sm thead {
        display: none;
    }

    .table-responsive--sm tbody tr:nth-child(odd) {
        background-color: f7f7f7;
    }

    .table-responsive--sm tbody tr td {
        padding-right: 15px;
    }

    .table-responsive--sm tbody tr td:last-child {
        padding-right: 15px;
    }

    .table-responsive--sm tr th,
  .table-responsive--sm tr td {
        display: block;
        padding-left: 45% !important;
        text-align: right !important;
        border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
    }

    .table-responsive--sm tr th:first-child,
  .table-responsive--sm tr td:first-child {
        border-top: none !important;
    }

    .table-responsive--sm [data-label]::before {
        display: block;
    }
}

/* table css end */
/* form css start */
.form-group {
    margin-bottom: 0.9375rem;
}

.form-control:focus {
    background-color: #fff;
    border-color: #ee4719 !important;
    box-shadow: 0 0 5px rgba(238, 71, 25, 0.35);
    color: #000;
}

.form--control {
    padding: 0.625rem 1.25rem;
    border: 1px solid #dadce0;
    width: 100%;
    background-color: #fff;
    color: #363636;
    height: 3.4375rem;
}

.form--control::-webkit-input-placeholder {
    color: #7c7c7c;
}

.form--control::-moz-placeholder {
    color: #7c7c7c;
}

.form--control:-ms-input-placeholder {
    color: #7c7c7c;
}

.form--control:-moz-placeholder {
    color: #7c7c7c;
}

.form--control:focus {
    background-color: #fff;
    border-color: #ee4719 !important;
    box-shadow: 0 0 5px rgba(238, 71, 25, 0.35);
    color: #000;
}

.form--control.style--dark {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.form--control[readonly] {
    background-color: #fafaf7;
}

.form--control.form-control-md {
    height: 45px;
}

.form--control.form-control-sm {
    height: 35px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #082032;
    transition: background-color 5000s ease-in-out 0s;
}

select.style--dark option {
    color: #363636;
}

.custom-icon-field {
    position: relative;
}

.custom-icon-field i {
    position: absolute;
    top: 15px;
    left: 12px;
}

.custom-icon-field i[class*="la-"] {
    font-size: 1.5625rem;
}

.custom-icon-field .form--control {
    padding-left: 2.8125rem;
}

.select {
    padding: 0.625rem 1.25rem;
    width: 100%;
    border: 1px solid #cccfd4;
    cursor: pointer;
    color: #666666;
    background-color: #fff;
    height: 3.125rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.select option {
    padding: 0.625rem 0;
    display: block;
    border-top: 1px solid #e5e5e5;
}

.select.select--sm {
    height: 2.1875rem;
    font-size: 0.875rem;
    padding: 0.3125rem;
}

textarea {
    min-height: 9.375rem !important;
    resize: none;
    width: 100%;
}

label {
    color: #000;
    margin-bottom: 0.625rem;
    font-size: 0.9375rem;
    font-weight: 500;
}

.input-group > .form--control,
.input-group > .select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group select {
    background-color: transparent;
    border: none;
}

.custom--radio {
    position: relative;
    padding-left: 0;
}

.custom--radio input[type=radio] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
}

.custom--radio input[type=radio]:checked ~ label::before {
    border-width: 2px;
    border-color: #ee4719;
}

.custom--radio input[type=radio]:checked ~ label::after {
    opacity: 1;
}

.custom--radio label {
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
    font-size: 0.875rem;
    font-weight: 400;
}

.custom--radio label::before {
    position: absolute;
    content: '';
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #888888;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.custom--radio label::after {
    position: absolute;
    content: '';
    top: 8px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: #ee4719;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.custom--checkbox {
    padding-left: 1.5625rem;
}

.custom--checkbox input {
    display: none;
}

.custom--checkbox input:checked ~ label::before {
    content: "\f14a";
    color: #ee4719;
}

.custom--checkbox label {
    position: relative;
    font-size: 0.9375rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
}

.custom--checkbox label::before {
    position: absolute;
    content: "\f04d";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    top: 3px;
    left: -1.5625rem;
    font-size: 1.25rem;
    line-height: 1;
}

/* form css end*/
/* card css start */
.custom--card {
    box-shadow: 0 3px 15px #8898aa26;
    overflow: hidden;
}

.custom--card .card-header {
    background-color: #fff;
    padding: 0.9375rem 1.25rem;
    border-color: #dadce0;
}

.custom--card .card-body {
    padding: 1.25rem;
}

@media (max-width: 575px) {
    .custom--card .card-body {
        padding: 0.9375rem;
    }
}

/* card css end */
/* modal css start */
.modal {
    z-index: 99;
}

.modal-open {
    overflow: hidden;
    overflow-y: auto;
    padding-right: 0 !important;
}

.btn-close {
    width: 18px;
    height: 18px;
    background-color: #ea5455;
    opacity: 1;
}

.btn-close:hover {
    opacity: 1;
}

.btn-close:focus {
    box-shadow: none;
}

.modal.fade .modal-dialog {
    transform: scale(0.85, 0.85) translate(0);
}

.modal.show .modal-dialog {
    transform: scale(1, 1) translate(0);
}

/* modal css end */
.faq-single {
    border-bottom: 1px solid #dadce0;
}

.faq-single:last-child {
    border-bottom: none;
}

.faq-single__header {
    cursor: pointer;
    padding: 20px;
}

.faq-single__header::after {
    content: "\f067";
    top: 21px;
    right: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.875rem;
}

.faq-single__content {
    display: none;
    padding: 20px;
}

.faq-single__title {
    font-size: 1rem;
    padding-right: 20px;
    font-weight: 500;
}

@media (max-width: 420px) {
    .faq-single__title {
        font-size: 1rem;
    }
}

.faq-single.active .faq-single__content {
    background-color: #f6f5ef80;
}

.faq-single.active .faq-single__header::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom--nav-tabs {
    border-bottom: none;
}

.custom--nav-tabs .nav-item .nav-link {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding: 0.75rem 1.5625rem;
    font-weight: 500;
}

.custom--nav-tabs .nav-item .nav-link.active {
    background-color: #ee4719;
    color: #fff;
}

.pagination {
    margin: -0.3125rem -0.4375rem;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    justify-content: flex-end;
}

.pagination .page-item {
    margin: 0.3125rem 0.4375rem;
}

.pagination .page-item.active .page-link {
    background-color: #ee4719;
    color: #fff;
    border-color: #ee4719;
}

.pagination .page-item .page-link {
    width: 2.375rem;
    height: 2.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #666666;
}

.pagination .page-item .page-link:hover {
    background-color: #ee4719;
    border-color: #ee4719;
    color: #fff;
}

/* header start */
.header {
    z-index: 9;
}

.header__bottom {
    padding: 0 30px;
}

@media (max-width: 1199px) {
    .header__bottom {
        padding: 0.625rem 0;
    }
}

.header .site-logo img {
    max-width: 12.5rem;
    max-height: 3.125rem;
}

@media (max-width: 1199px) {
    .header .site-logo img {
        max-width: 9.375rem;
    }
}

.header .site-logo.site-title {
    font-size: 1.5rem;
}

.header .main-menu {
    margin-left: 4.375rem;
}

@media (max-width: 1199px) {
    .header .main-menu {
        margin-left: 0;
        padding: 0.9375rem 0;
    }
}

.header .main-menu li {
    position: relative;
}

@media (max-width: 1199px) {
    .header .main-menu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}

.header .main-menu li:last-child a {
    padding-right: 0;
}

.header .main-menu li.menu_has_children {
    position: relative;
}

.header .main-menu li.menu_has_children.open > .sub-menu {
    display: block;
}

.header .main-menu li.menu_has_children > a {
    padding-right: 1.5625rem;
}

@media (max-width: 1199px) {
    .header .main-menu li.menu_has_children > a {
        display: block;
    }
}

.header .main-menu li.menu_has_children > a::before {
    position: absolute;
    content: "\f107";
    font-family: "Line Awesome Free";
    font-weight: 900;
    top: 1.9375rem;
    right: 5px;
    color: #fff;
    font-size: 0.875rem;
}

@media (max-width: 1199px) {
    .header .main-menu li.menu_has_children > a::before {
        display: block;
        top: 0.5625rem;
        color: #fff;
    }
}

.header .main-menu li.menu_has_children:hover > a::before {
    color: #ee4719;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header .main-menu li a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 1.75rem 0.9375rem 1.75rem 0;
    color: #fff;
}

@media (max-width: 1199px) {
    .header .main-menu li a {
        color: #fff;
        padding: 0.5rem 0;
        display: block;
    }
}

.header .main-menu li a:hover, .header .main-menu li a:focus {
    color: #ee4719;
}

.header .main-menu li .sub-menu {
    position: absolute;
    width: 220px;
    top: 105%;
    left: 0;
    z-index: 9999;
    padding: 0.625rem 0;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1199px) {
    .header .main-menu li .sub-menu {
        opacity: 1;
        visibility: visible;
        display: none;
        position: static;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        width: 100%;
        background-color: #082032;
        border: none;
        padding-left: 0.9375rem;
        padding-top: 0;
    }
}

.header .main-menu li .sub-menu li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

@media (max-width: 1199px) {
    .header .main-menu li .sub-menu li {
        border-color: rgba(255, 255, 255, 0.15);
    }
}

.header .main-menu li .sub-menu li:last-child {
    border-bottom: none;
}

.header .main-menu li .sub-menu li a {
    padding: 0.375rem 1.5625rem;
    display: block;
    color: #666666;
    position: relative;
    font-size: 0.9375rem;
    text-transform: capitalize;
}

@media (max-width: 1199px) {
    .header .main-menu li .sub-menu li a {
        color: #fff;
        padding: 0.5rem 0;
    }
}

.header .main-menu li .sub-menu li + li {
    margin-left: 0;
}

.header .main-menu li:hover > .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.header .main-menu li + li {
    margin-left: 1.25rem;
}

@media (max-width: 1199px) {
    .header .main-menu li + li {
        margin-left: 0;
    }
}

.header .main-menu .sub-menu li.menu_has_children > a::before {
    top: 9px;
    right: 8px;
}

.header .main-menu .sub-menu li.menu_has_children > .sub-menu {
    left: 100%;
    top: 0;
}

@media (max-width: 1199px) {
    .header .main-menu .sub-menu li.menu_has_children > .sub-menu {
        padding-left: 15px;
    }
}

.header .nav-right {
    padding-left: 3.125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1199px) {
    .header .nav-right {
        padding-left: 0;
    }
}

.header__search-btn {
    background-color: transparent;
    padding: 0;
    font-size: 1.375rem;
    margin-right: 1.25rem;
}

@media (max-width: 1199px) {
    .header__search-btn {
        display: none;
    }
}

.header__search-btn.active i {
    transform: rotate(0);
}

.header__search-btn.active i::before {
    content: "\f00d";
}

.language-select {
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    padding: 0;
    margin-right: 0.9375rem;
}

.header-account-btn {
    padding: 0.5rem 0.9375rem;
    font-size: 14px;
}

.header-account-btn:hover {
    background-color: #cf390f;
}

.header-account-btn i {
    font-size: 0.9375rem;
    margin-right: 0.5rem;
    width: 22px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 1199px) {
    .navbar-collapse {
        margin-top: 20px !important;
        background-color: #082032;
        padding: 0 1.875rem 1.25rem 1.875rem;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        max-height: 20rem;
        overflow: auto;
    }
}

.navbar-toggler {
    padding: 0;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.menu-toggle {
    margin: 10px 0;
    position: relative;
    display: block;
    width: 2.1875rem;
    height: 1.25rem;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: #fff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.menu-toggle:before,
.menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}

@media (max-width: 1199px) {
    .menu-toggle:before,
  .menu-toggle:after {
        background-color: #fff;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* header end */
/* footer sectioncss start */
.footer p, .footer span, .footer a {
    color: rgba(255, 255, 255, 0.8);
}

.footer__top {
    padding: 3.125rem 0;
}

.footer__logo img {
    max-height: 50px;
    max-width: 200px;
}

.footer__bottom {
    padding: 0.9375rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.inline-menu {
    margin: -0.3125rem -0.625rem;
}

.inline-menu li {
    padding: 0.3125rem 0.625rem;
}

.social-links {
    margin: -0.125rem -0.4375rem;
}

.social-links li {
    padding: 0.125rem 0.4375rem;
    font-size: 1.125rem;
}

.social-links li a {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.social-links li a:hover {
    border-color: #ee4719;
}

.footer-widget__title {
    font-size: 1.125rem;
}

.footer-widget__title::after {
    content: '';
    bottom: 0;
    left: 0;
    width: 35px;
}

.footer-widget__menu {
    margin-top: 1.25rem;
}

.footer-widget__menu li:last-child a {
    border-bottom: none;
}

.footer-widget__menu li a {
    padding: 0.625rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
}

.footer-widget__contact-list li {
    padding: 0.625rem 0;
}

.footer-widget__contact-list li .icon {
    width: 40px;
    font-size: 1.5rem;
    line-height: 1;
}

.footer-widget__contact-list li .content {
    width: calc(100% - 40px);
}

/* footer sectioncss end */
/* hero section css start */
.hero {
    padding-top: 250px;
    padding-bottom: 187px;
}

/* hero section css end */
/* inner hero section css start */
.inner-hero {
    padding-top: 150px;
    padding-bottom: 70px;
}

.inner-hero::before {
    content: '';
    top: 0;
    left: 0;
    opacity: 0.65;
}

.page-breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
}

.page-breadcrumb li {
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
}

.page-breadcrumb li::after {
    content: '-';
    color: #ffffff;
    margin: 0 5px;
}

.page-breadcrumb li:first-child::before {
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ee4719;
    margin-right: 6px;
}

.page-breadcrumb li:last-child::after {
    display: none;
}

.page-breadcrumb li a {
    color: #ffffff;
    text-transform: capitalize;
}

.page-breadcrumb li a:hover {
    color: #ee4719;
}

/* inner hero section css end */

/*# sourceMappingURL=main.css.map */
